@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

:root{
  --theme-color :  #FB2576 ;
  --theme-admin : #090979 ;
}

.theme-bg-pink{
  background: #FB2576 !important;
}

body{
  background: #f9f9ff !important;
}



/****** Style Header ******/

.menu{
   letter-spacing: 0.08em;
   padding: 15px 20px;
   color: black !important;
   position: relative;
 }

.menu:after {    
   bottom: 0;
   content: "";
   display: block;
   height: 2px;
   left: 50%;
   position: absolute;
   background: var(--theme-color);
   transition: width 0.3s ease 0s, left 0.3s ease 0s;
   width: 0;
 }
 
 .menu:hover:after { 
   width: 100%; 
   left: 0; 
 }

 .signin{
   background: var(--theme-color) !important;
   border:var(--theme-color) !important;
   transition: all ease-in-out 0.5s !important;
 }

 .signin:hover{
   background: white !important;
   color: var(--theme-color) !important;
   outline:var(--theme-color) thin solid;
 }

 .nav-icon:hover{
   color: var(--theme-color) !important;
 }


 .carousel-control-prev-icon, .carousel-control-next-icon {
    background: rgba(0, 0, 0, 0.616);
 }


 /****** Style Home-page ******/
.category-btn:hover{
  background-color: #e8e9ebda !important;
}

.blog-img{
  overflow: hidden !important;
  background-color: blue !important;
}

.blog-img:hover{
transform: scale(1.05);
transition: all ease-in-out 0.5s;
}

.blog-title:hover{
  text-decoration: underline !important;
  text-decoration-color: var(--theme-color) !important;
  text-underline-offset: 8px !important;
  text-decoration-thickness: 2px !important;
  transition: all ease-in-out 0.2s ;
}


/* VerticalNavbar.css */
#vertical-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1rem;
  width: 250px; 
  /* z-index: 1; */
}


.navbar {
  background-color: #545353; /* Set your desired background color */
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-item {
  font-size: 1rem;
  font-weight: bold;
}



/* blog-posts table td   */
td {
  white-space: nowrap;        /* Prevent text from wrapping */
  overflow: hidden;           /* Hide overflow */
  text-overflow: ellipsis;    /* Display ellipsis (...) for overflowed text */
  max-width: 100px;    /* Display ellipsis (...) for overflowed text */
}