:root{
    --theme-color :  #FB2576 ;
 }
 
.category-btn:hover{
    background-color: #e8e9ebda !important;
}


.blog-img{
    overflow: hidden !important;
    background-color: blue !important;
}
.blog-img:hover{
  transform: scale(1.05);
  transition: all ease-in-out 0.5s;
}

.blog-title:hover{
    text-decoration: underline !important;
    text-decoration-color: var(--theme-color) !important;
    text-underline-offset: 8px !important;
    text-decoration-thickness: 2px !important;
    transition: all ease-in-out 0.2s ;
}